<p> Titre de l'evenement <%= @title%></p>

<%if @event.avatar.attached?%>
  <%= image_tag @event.avatar, alt: 'avatar', class: 'w-50 mx-auto d-block' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<p> Description de l'evenement : <%= @description%></p>
<p> tarif : <%= @price%></p>
<% if user_signed_in? && current_user == @admin %>
  <p> est admin</p>
  <%= link_to "mon espace événement", event_attendances_path(@event),class: "btn btn-primary"%>

<% elsif @particip %>
  <p> vous participez deja a cette evenement </p>
<% else%>
  <p> n'est pas admin </p>
  <%= link_to "Rejoindre l'événement", new_event_attendance_path(@event), class: "btn btn-primary" %>
<% end%>